<nav class="navbar bd-navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logo.png" width="170" height="80">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="/campgrounds">
          All Campgrounds
        </a>

        <a class="navbar-item" href="/campgrounds/new">
            Create New Campgrounds
        </a>
  
        <a class="navbar-item" href="https://github.com/ZhongchiLeoLi/Campsters" target="_blank">
          <i class="fab fa-github" style="margin-right: 0.5rem; font-size: 1.4rem;"></i> View Source Code
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if(!currentUser) {%> 
            <a class="button is-primary" href="/register">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">
              Log in
            </a>
            <% } else {%> 
            <a class="button is-light" href="/logout">
              Log out
            </a>
            <% } %> 
          </div>
        </div>
      </div>
    </div>
  </nav>